.Card{
    width: 300px;
    border-radius: 10px;
    border: 3px ;
    padding: 10px;
    background-color: transparent;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 5px #ffffff;
    color: #4d4747;
    font-family:sans-serifc;
}

.icons{
    display: flex;
    border-bottom:solid 2px #4d4747;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.texto{
    margin-bottom: 3px;
    font-weight: bold;
    text-align: left;
}

.titulo{
    text-align: center;
    margin-top: 15px;
}

.entrada{
    justify-content: left;
    width: 95%;
    background-color:transparent;
    height: 20px;
    border: none;
}
.entrada:focus{
    outline: none;    

}

.div-check{
    display: flex;
}

.input-img{
    cursor: pointer;
    display: inline-block;
    margin-top: 12px;
    
}

.div-botao{
    text-align: center;
}

.botao{
    margin: 10px;
    height:3em;
    width: 75%;
    border-radius: 10px;
    border-color: #ffffff;
}



.botao:hover{
    cursor: pointer;
}

.imagem:hover{
    cursor: pointer;
}