
body {
  display: flex;
  height: 100vh;
  justify-content:center;
  align-items: center;
  background: radial-gradient(#e4e86c ,#5eb6f5);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
